certifi==2025.7.14
charset-normalizer==3.4.2
dotenv==0.9.9
idna==3.10
numpy==2.3.1
pandas==2.3.1
pybit==5.11.0
pycryptodome==3.23.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
simple-term-menu==1.6.6
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
websocket-client==1.8.0
